  </body>
</html>
<!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
              <li>
                <a href="https://www.github.com/arvindkannan">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/in/arvindkannan1">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2019 Arvind.K</li>
            </ul>

         </div>

         <!--<div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>-->

      </div>

</footer> <!-- Footer End-->
